html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.brand_text {
  font-style: italic;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 2em;
  margin-right: 2em;
}

nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li a span {
  color: rgb(235, 160, 20);
}

nav ul li a.brand_text {
  font-size: 2em;
}

nav ul.second_list {
  float: right;
  width: 60vw;
  height: 5.2em;
}

nav ul.second_list li {
  padding-right: 5em;
  margin: 1.3em 0;
}

nav ul.second_list li a {
  font-size: 2em;
}

section.first_section {
  background-color: #ffffff;
  background-image: linear-gradient(
    -9deg,
    #ffffff 0%,
    #ffffff 50%,
    #f6b400 50%,
    #f6b400 50%
  );
  background-image: -webkit-linear-gradient(
    -9deg,
    #ffffff 0%,
    #ffffff 50%,
    #f6b400 50%,
    #f6b400 50%
  );
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.first_section img {
  position: relative;
  top: 100px;
  left: 240px;
}

.first_section .one_liner {
  width: 30%;
  margin-top: 40vh;
  margin-left: 5em;
  float: left;
}

.h1 {
  font-weight: 600;
  font-size: 2.5em;
}

.faint {
  font-weight: lighter;
}

.order_button {
  background-color: #f6b400; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5em;
  margin-left: 5em;
  border-radius: 10% 10% 0% 10%;
}

.second_section {
  background-color: #e1ebe6;
  padding: 70px;
  padding-top: 150px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.smallBox {
  width: 350px;
  height: 400px;
}

.bigBox {
  width: 350px;
  height: 500px;
}

.txt {
  font-size: 13px;
}

.third-section {
  display: flex;
  flex-direction: row;
  padding: 50px;
  flex-wrap: wrap;
}

.third1 {
  height: 200px;
}
.third2 {
  height: 200px;
}
.third3 {
  height: 200px;
}
.third4 {
  height: 200px;
}
.third5 {
  height: 200px;
}
.third6 {
  height: 200px;
}

.burgerBox {
  height: 550px;
  width: 300px;
  box-shadow: 0.1px 5px 10px 2px #888888;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.burger-box-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new {
  position: relative;
  left: 120px;
  width: 150px;
  height: 150px;
  clip-path: polygon(7% 0, 47% 0, 100% 52%, 100% 100%);
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #f6b400;
}

#newTxt {
  margin-bottom: 100px;
  margin-top: 60px;
  margin-left: 40px;
  transform: rotate(45deg);
  color: white;
}

.fourth-section {
  background-color: #e1ebe6;
  height: 500px;
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  justify-content: baseline;
}
.the-double :first-child {
  font-weight: bolder;
  font-size: 100px;
  margin: 0px;
  padding-bottom: 30px;
  padding-top: 40px;
}
.the-double {
  display: inline-block;
  margin-left: 80px;
}

.the-double .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.the-double .dot:first-child {
  color: orange;
}

.the-double .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.the-double :first-child span {
  color: yellow;
}
.sec4p {
  padding-top: -0px;
  font-size: 20px;
}

.double-decker img {
  height: 400px;
}
.double-decker {
  position: relative;
  display: grid;
  float: right;
  height: 350px;
  justify-content: center;
}

.double2 {
  margin-top: -320px;
}

.fifth-section {
  background-color: #f6b300;
  display: inline-block;
  justify-content: space-between;
  width: 100%;
}
.fifth {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
}
.app .app1 {
  height: 80px;
}
.app .app2 {
  height: 80px;
}
.app {
  margin-top: 100px;
}
.fifth-image {
  float: right;
  margin-right: 50px;
}
.mobile1 {
  height: 700px;
  padding-right: 30px;
}
.mobile2 {
  height: 700px;
}
.fifth-app {
  display: inline-block;
  justify-content: space-between;
  padding-top: 50px;
  margin-left: 130px;
}
.fifth-app:first-child {
  font-weight: bolder;
  font-size: 50px;
}

.footer {
  background-color: #e1ebe6;
}
.footer1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul {
  text-align: center;
}
ul li {
  size: 20px;
  list-style: none;
  padding-top: 5px;
}
.centre {
  text-align: center;
}

.start p {
  font-weight: bold;
  float: right;
  font-size: 30px;
  font-style: italic;
}
.start p span {
  color: yellow;
}
.email {
  border-style: groove;
  padding-right: 180px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.subscribe1 button {
  background-color: yellow;
  height: 50px;
  width: 150px;
}

.last {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-bottom: 20px;
  height: 20px;
}

.start {
  margin-right: 250px;
}
